:root {
  --primary-color: #42103b;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(65, 11, 35, 0.92);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("images/budapest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 60px;
  color: whitesmoke;
  text-align: center;
  line-height: 1.2;
}
h1 {
  font-size: 66px;
  font-weight: 600;
}

h5 {
  font-weight: 400;
  font-size: 34px;
  margin: 0;
}

h4 {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 600;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

button {
  background: whitesmoke;
  padding: 16px 32px;
  border-radius: 5px;
  margin-top: 60px;
}

section {
  margin: 0 auto;
  padding: 100px 0;
}

main {
  background-color: whitesmoke;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 0;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: var(--primary-color);
  margin: 18px;
}

h6 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  margin: 3% 8%;
  line-height: 1.6;
  opacity: 0.9;
}

main p {
  font-size: 22px;
  padding: 5px 45px 5px 2px;
}

img {
  width: 100%;
  border-radius: 10px;
  filter: brightness(103%) contrast(102%) saturate(90%) sepia(48%);
}

.church {
  width: 65%;
  border-radius: 15px;
  margin: 5%;
  margin-inline-start: 20%;
}

.grid {
  display: grid;
  grid-gap: 42px;
}

.two-columns-grid {
  grid-template-columns: 1fr 1fr;
}

#to-do {
  background: #cdcccc;
}
.cards {
  align-items: center;
  grid-auto-flow: column;
  grid-template: repeat(5, 1fr);
  grid-template-rows: unset;
  overflow: hidden;
}

.card {
  width: 420px;
  height: 1100px;
  margin: 5%;
  margin-inline-start: 10%;
  margin-inline-end: 10%;
  background-color: whitesmoke;
}

iframe {
  width: 100%;
}

.gallery {
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
  grid-gap: 35px;
}

footer {
  background-image: linear-gradient(
      rgba(92, 15, 50, 0.7),
      rgba(92, 15, 50, 0.7)
    ),
    url("images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  padding: 30px;
}

footer h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

footer p {
  opacity: 0.8;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
}

footer li {
  list-style: none;
  margin: 0 30%;
  padding: 10px;
}

footer a {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1280px) {
  header {
    padding: 30px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 26px;
  }

  h5 {
    font-size: 22px;
  }

  button {
    padding: 6px 12px;
  }

  p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
  }

  main p {
    font-size: 16px;
    padding-left: 18px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 2px;
  }
  section {
    padding: 30px;
  }
  .arrow {
    display: none;
  }
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    place-items: center;
  }

  .card {
    width: 300px;
    height: 980px;
    margin: 1%;
    margin-bottom: 5%;
  }

  h6 {
    font-weight: 500px;
    font-size: 20px;
    text-align: center;
  }

  iframe {
    margin-block-start: 3%;
  }

  footer h3 {
    font-weight: 500px;
    font-size: 16px;
  }
}

.arrow {
  color: var(--primary-color);
  padding: 16px;
  position: relative;
  right: 0;
  top: 360px;
  font-size: 110px;
  text-decoration: none;
  font-weight: 600;
  float: left;
}
.arrow-right {
  float: right;
}
