:root {
  --color: #42103b;
}
body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
    732px at 96.2% 89.9%,
    rgb(61, 57, 138) 0%,
    rgb(65, 11, 35) 92%
  );
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("images/header3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 60px;
  color: whitesmoke;
  text-align: center;
  line-height: 1;
}

header h1 {
  font-size: 62px;
  font-weight: 600;
}

header h2 {
  font-weight: 400;
  font-size: 34px;
  margin: 0;
}

header h3 {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 600;
  text-decoration: none;
  color: var(--color);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

button {
  background: whitesmoke;
  padding: 16px 32px;
  border-radius: 5px;
  margin-top: 36px;
}

section {
  margin: 0 auto;
  padding: 100px 0;
}

main {
  background-color: whitesmoke;
}

main h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 0;
}

main h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: var(--color);
}

main p {
  padding: 5px 45px 5px 2px;
  opacity: 0.9;
  line-height: 1.8;
  font-size: 20px;
}

img {
  width: 100%;
  border-radius: 10px;
}

#about-image {
  width: 90%;
  border-radius: 10px;
  margin: 50px;
}

.grid {
  display: grid;
  grid-gap: 42px;
}

.two-columns-grid {
  grid-template-columns: 1fr 1fr;
}

#to-do {
  background: #cdcccc;
}
.cards {
  align-items: center;
  grid-auto-flow: column;
  grid-template: repeat(7, 1fr);
  grid-template-rows: unset;
  overflow: hidden;
}

.card {
  width: 400px;
  height: 1000px;
  margin: 5%;
  margin-inline-start: 20%;
  margin-inline-end: 20%;
  background-color: whitesmoke;
}

.card p {
  padding: 25px;
}

iframe {
  width: 100%;
}

h5 {
  text-align: center;
}

.gallery {
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
  grid-gap: 35px;
}

footer {
  background-image: linear-gradient(
      rgba(92, 15, 50, 0.7),
      rgba(92, 15, 50, 0.7)
    ),
    url("images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  padding: 30px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

footer p {
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: cente;
}

footer li {
  list-style: none;
  margin: 0 130px;
  padding: 2px;
}

footer a {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 960px) {
  header {
    padding: 30px;
  }

  header h1 {
    font-size: 44px;
  }

  header h2 {
    font-size: 22px;
  }
  button {
    padding: 6px 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  section {
    padding: 30px;
  }
  .left,
  .right {
    display: none;
  }
}

.arrow {
  padding: 16px;
  position: relative;
  right: 0;
  top: 360px;
  font-size: 110px;
  text-decoration: none;
  font-weight: 600;
  float: left;
}
.arrow-right {
  float: right;
}
